@import (reference) '../style/index.less';

.container {
    .flex-center();
    justify-content: center;
    flex-direction: column;
    @media @mobile {
        flex-direction: column;
    }
    // don't display on phone
    // @media (max-width: 480px) {
    // display: none;
  // }
}

.post {
    .flex-center();
    .frame-small();
    flex-wrap: initial;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    &:hover {
        > div:first-child > a > div {
            transform: scale(1.1) !important
        }
    }
    @media @mobile {
        width: 100%;
        flex-direction: column;
    }
}

.cover {
    overflow: hidden;
    margin: @margin-small;
    width: 40%;
    min-width: 40%;
    & > a > div {
        transition: @transition-time transform;
    }
    @media @mobile {
        min-width: 100%;
        width: 100%;
    }
}

.content {
    .frame-small();
    text-align: center;
    h1, h2, p {
    text-align: center;
        margin: @margin-zero @margin-zero @margin-zero @margin-zero;
        padding-bottom: 20px;
    }
    h2 {
        text-shadow: @text-shadow-title;
    }
    p {
        .frame-small();
    }
}

.badge {
  color: #61afef;
}

.badge:hover {
  color: #c678dd;

}

.card {
  padding: 1rem;
  box-shadow: @box-shadow-cover;
  margin: 0.7rem 0;
  padding-bottom: 20px;
  background-color: #1e2127;
  border: 1px solid transparent;
}

.card:hover {
  box-shadow: 0 -1px 4px #61afef;
  border: 1px solid #61afef;
}

ul.postTags {
  padding: 0;
  display: inline-flex;
  list-style: none;
  justify-content: center;

  li {
    margin-right: 10px;
  justify-content: center;
  }
}

.space {
  width: 100%;
  height: 100%;
  background-color: #789456;
}


