.link {
  text-decoration: none;
  color: #d4d4d4;
}

.post-list {
  border: 1px solid #569cd6;
  padding: 0.5rem;
  box-shadow: 0 -1px 4px #569cd6;
  margin: 1rem;
  background-color: #333333;
}

.post-list h1 {
  color: #c39178;
}

.post-list span {
  color: #9cdcfe;
}

img {
  height: 90% !important;
}

.post-list:hover {
  background-color: #333333;
  box-shadow: 0 -1px 4px #dcdcaa;
  border: 1px solid #dcdcaa;
}

.tags {
  display: flex;
  flex-direction: column;
}

.a {
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
  color: #d4d4d4;
}

.tags a {
  margin-bottom: 2rem;
  list-style: none;
  background-color: #333333;
  border: 1px solid #569cd6;
  border: 1px solid #569cd6;
  width: 80%;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: #ce9178;
}
