// .author-social-links {
//   ul {
//     display: inline-flex;

//     li {
//       margin: auto 7px;

//       a {
//         transition: all 0.1s ease-out;
//         color: $dark-gray;

//         &.instagram:hover {
//           color: #e95950;
//         }
//         &.facebook:hover {
//           color: rgb(66, 103, 178);
//         }
//         &.twitter:hover {
//           color: rgb(56, 161, 243);
//         }
//         &.google:hover {
//           color: rgb(221, 75, 57);
//         }
//         &.linkedin:hover {
//           color: rgb(0, 119, 181);
//         }
//       }
//     }
//   }
// }
